.git
.gitignore
*.pyc
__pycache__
.venv
venv
.env
*.md
!facefusion/README.md
main.py
pyproject.toml
.editorconfig
.flake8
.python-version
terminals
facefusion/tests
facefusion/.github
facefusion/.coveragerc
facefusion/mypy.ini
